@model IEnumerable<KalingaManagementSystem.Models.Student>

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StudentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DOJ)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.ContactNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeadId)
            </th>*@
       
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DOJ)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.ContactNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LeadId)
                </td>*@
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id=item.StudentId }) |*@
                @*@Html.ActionLink("Students Uder Lead", "Details", new { id=item.StudentId })*@
                @*@Html.ActionLink("Delete", "Delete", new { id=item.StudentId })*@
            </td>
        </tr>
    }

</table>
<div>
    @Html.ActionLink("Back to List", "Show")
</div>